{% set driver = service('driver').create(driver_name) %}
{% set page = page|default(1) %}
{% set products = create('Classes\\ExternalProductFactory','products').create(driver_name) %}
{% set products = products.getList(page,driver_name) %}

{% if driver.getError(products) is not empty %}
    <div class="ui warning message">
        {{ driver.getError(products) }}
    </div>
{% else %}
    {% set items = paginate(products,'import-products') %}  
    {% for item in items.getItems() %}         
        <tr id="row_{{ item.getId() }}">
            <td>           
                <button class="ui icon mini basic button details-button" {{ buttons.details.title|attr('title') }} product-id="{{ item.getId() }}">
                    <i class="icon info"></i>
                </button> 
            </td>
            <td>
                {{ item.getId() }}
            </td>
            <td>
                {{ item.getTitle() }}
            </td>
            <td>
                <div class="ui basic mini horizontal label">
                    {{ item.getCurrency() }}
                </div>
                {{ item.getPrice()|numberFormat }}
            </td> 
            <td>
                {{ item.getDescription() }}
            </td>      
            <td>
        
            </td>
        </tr>
    {% endfor %}
{% endif %}