{% if uuid is not empty %}
    {% set item = createModel('Brands','products').findById(uuid) %}
{% endif %}
<tr id="row_{{ item.uuid }}">              
    <td>  
        <button 
            mountTo="brand_details"
            component="products::admin.brands.details"
            params="uuid:{{ item.uuid }}"
            class="{{ theme.buttons.icon }} brand-action" 
            uuid="{{ item.uuid }}" 
            title="{{ labels.details }}">
            {{ component('icons~info',theme.icons.menu,'svg') }} 
        </button>          
        <button 
            mountTo="brand_details"
            component="products::admin.brands.edit"
            class="{{ theme.buttons.icon }} brand-action" 
            params="uuid:{{ item.uuid }}" 
            title="{{ labels.edit }}">
            {{ component('icons~edit',theme.icons.menu,'svg') }} 
        </button>     
        {% if item.hasProducts() == false %}       
        <button class="{{ theme.buttons.icon }} delete-button" uuid="{{ item.uuid }}" data-title="{{ item.title }}">
            {{ component('icons~trash',theme.icons.delete,'svg') }} 
        </button>  
        {% endif %}      
    </td>   
    <td>
        {{  component('system:admin.status.dropdown',{ 
                status: item.status, 
                uuid: item.uuid, 
                skip: [2,3,4,5,6] 
            }) 
        }}
    </td>       
    <td>{{ item.title }}</td>         
    <td>
        {{ item.user.user_name_or_email }}
    </td>           
</tr>