<div class="ui segment">
    <table class="ui compact stackable selectable borderless basic table">
        <thead class="table-head">
            <tr>              
                <th class="two wide collapsing left aligned">{{ columns.action }}</th>               
                <th>{{ columns.title }}</th>  
                <th class="four wide column">{{ columns.key }}</th>    
                <th class="four wide column">{{ columns.type }}</th>                         
                <th>{{ columns.description }}</th>                                                                                
            </tr>
        </thead>
        <tbody id="product_options_rows" component="products::admin.options.view.rows" namespace="product-options">
            {{ component('products::admin.options.view.rows') }} 
        </tbody>
    </table> 
    <div id="paginator">      
        {{ component("semantic~paginator",{ namespace: 'product-options' }) }}
    </div>
</div>