<div class="{{ theme.panel }}">
    <table class="{{ theme.table.default }}">
        <thead>
            <tr>              
                <th class="w-12">{{ columns.action }}</th>               
                <th>{{ columns.title }}</th>  
                <th class="">{{ columns.key }}</th>    
                <th class="">{{ columns.type }}</th>                         
                <th>{{ columns.description }}</th>                                                                                
            </tr>
        </thead>
        <tbody 
            id="product_options_rows">
            {{ component('products::admin.options.view.rows') }} 
        </tbody>
    </table> 
    <div class="ml-2 mt-2" id="paginator"> 
        {{  component("system:admin.paginator",{ 
                id: 'product_options_paginator',
                namespace: 'product-options',
                rows_selector: 'product_options_rows',
                component:"products::admin.options.view.rows" 
            })  
        }}       
    </div>
</div>