{% set model = createModel('ProductType','products').orderBy('title') %}
{% set items = paginate(model,'product-type') %}

{% if items.getItems()|length == 0 %}
<tr>
    <td colspan="5">..</td>
</tr>
{% endif %}

{% for item in items.getItems() %}  
    <tr 
        id="product_type_row_{{ item.uuid }}">              
        <td>  
            {% if item.readonly != 1 %}
                <button 
                    mountTo="product_type_details"
                    component="products::admin.type.details"
                    params="uuid:{{ item.uuid }}"
                    class="{{ theme.buttons.menu }} product-type-action" 
                    uuid="{{ item.uuid }}" 
                    title="{{ labels.details }}">
                    {{ component('icons~info',theme.icons.menu,'svg') }} 
                </button>          
                <button 
                    mountTo="product_type_details"
                    component="products::admin.type.edit"
                    class="{{ theme.buttons.menu }} product-type-action" 
                    params="uuid:{{ item.uuid }}" 
                    title="{{ labels.edit }}">
                    {{ component('icons~edit',theme.icons.menu,'svg') }} 
                </button>     
                {% if item.hasProducts() == false %}       
                <button 
                    class="{{ theme.buttons.menu }} delete-button" 
                    uuid="{{ item.uuid }}" 
                    data-title="{{ item.title }}">
                   {{ component('icons~trash',theme.icons.delete,'svg') }} 
                </button>  
                {% endif %}                        
            {% else %}
                <div class="badge badge-sm badge-outline">
                    {{ labels.readonly }}
                </div>
            {% endif %}   
        </td>         
        <td>{{ item.title }}</td> 
        <td>
            <div class="badge badge-sm badge-outline">{{ item.slug }}</div>
        </td> 
        <td>{{ item.description|sliceLabel(30) }}</td>      
        <td>
            {{ item.products().count() }}
        </td>           
    </tr>
{% endfor %}