{% set name = name|default('brand_id') %}
{% set id = id|default(name) %}
{% set model = createModel('Brands','products') %}
{% set data_column = data_column|default('id') %}

{% if selected is not empty %}
    {% set selected = model.findById(selected) %}
{% endif %}

{% if hide_readonly == true %}
    {% set model = model.editable() %}
{% endif %}
<select 
    {{ id|attr('id') }}
    aria-placeholder="{{ placeholder }}"
    name="{{ name }}"
    class="{{ theme.form.select }} product-type {{ class }} {{ size }}" 
    {{ title|attr('title') }} 
    {{ attributes|attr }}>
 
    {% if hide_empty != true %}
        <option 
            disabled
            {{ (selected[data_column] is empty) ? 'selected' : '' }}
            value="">                    
            {{ placeholder }}            
        </option>  
    {% endif %}

    {% if show_all == true %}
        <option 
            {{ (selected[data_column] is empty) ? 'selected' : '' }}
            value="">                    
            {{ labels.all }}            
        </option>  
    {% endif %}

    {% for item in model.get() %}
        <option 
            {{ (selected[data_column] == item[data_column]) ? 'selected' : '' }}
            value="{{ item[data_column] }}">                    
            {{ item.title }}            
        </option>   
    {% endfor %}         
</select>