{% set items = createModel('ProductOptionType','products').orderBy('title').get() %}
{% if items|length == 0 %}
<tr>
    <td colspan="5">..</td>
</tr>
{% endif %}

{% for item in items %}  
    <tr id="{{ item.uuid }}">              
        <td>  
            <button 
                mountTo="option_details"
                component="products::admin.options.details"
                class="{{ theme.buttons.icon }} option-action-button" 
                params="uuid:{{ item.uuid }}" 
                title="{{ labels.info }}">
                {{ component('icons~info',theme.icons.menu,'svg') }} 
            </button>                 
        </td>         
        <td>{{ item.title }}</td> 
        <td>
            <div class="badge badge-sm badge-outline">{{ item.key }}</div>
        </td> 
        <td>
            <div class="badge badge-sm badge-outline">
                {{ item.getTypeText() }}
            </div>           
        </td>
        <td>
            {{ item.description|sliceLabel(30) }}
        </td>                         
    </tr>
{% endfor %}