{% set model = createModel('Products','products') %}
{% set show_deleted = searchValue('show_deleted','products') %}
{% if show_deleted == 'true' %}
    {% set model = model.softDeletedQuery() %}
{% else %}
    {% set model = model.getNotDeletedQuery() %}
{% endif %}
{% set type_id = searchValue('type_id','products') %}
{% if type_id is not empty %}
    {% set model = model.where('type_id','=',type_id) %}
{% endif %}
{{ createSearch('title','products','like:%{value}%','and') }}
{% set model = applySearch(model,'products') %}
{% set model = model.orderBy('title') %}

{% set items = paginate(model,'products') %}
{% if items.getItems().count() == 0 %}
<tr>
    <td>{{ labels.empty }}</td>
</tr>
{% endif %}

{% for item in items.getItems()  %}  
    <tr id="{{ item.uuid }}">              
        <td>              
            {% if item.isDeleted() == false %} 
                <button class="ui icon mini basic button edit-button" uuid="{{ item.uuid }}">
                    <i class="icon edit"></i>
                </button>            
                <button class="ui icon mini basic button delete-button" uuid="{{ item.uuid }}" data-title="{{ item.title }}">
                    <i class="icon trash orange"></i>
                </button>                       
            {% else %}
                <button class="ui icon mini basic button restore-button" uuid="{{ item.uuid }}" title="{{ labels.resotre }}">
                    <i class="trash restore olive icon"></i>
                </button>    
            {% endif %} 
            <button class="ui icon mini basic button product-details" uuid="{{ item.uuid }}">
                <i class="icon info blue"></i>
            </button>  
        </td>
        <td>{{ item.date_created|dateFormat }}</td>  
        <td>
            {{ component('semantic~status.dropdown',{ status: item.status, uuid: item.uuid, skip: [2,3,4,5] }) }}
        </td>
        <td>
           {{ item.type.title }}       
        </td>
        <td>{{ item.title }}</td>         
        <td>
            {% for category in item.categories %}
            <div class="ui mini left pointign basic label">
                {{ category.getTitle()|string }}
            </div>            
            {% endfor %}
        </td>                  
        <td>
            {{ component('products::admin.products.price',{ product: item }) }}          
        </td>
        <td>
            {{ item.user.user_name_or_email }}
        </td>                        
    </tr>
{% endfor %}