{% set model = createModel('Products','products') %}
{% set show_deleted = searchValue('show_deleted','products') %}
{% if show_deleted == 'true' %}
    {% set model = model.softDeletedQuery() %}
{% else %}
    {% set model = model.getNotDeletedQuery() %}
{% endif %}
{% set type_id = searchValue('type_id','products') %}
{% if type_id is not empty %}
    {% set model = model.where('type_id','=',type_id) %}
{% endif %}
{{ createSearch('title','products','like:%{value}%','and') }}
{% set model = applySearch(model,'products') %}
{% set model = model.orderBy('title') %}

{% set items = paginate(model,'products') %}
{% if items.getItems().count() == 0 %}
<tr>
    <td>{{ labels.empty }}</td>
</tr>
{% endif %}

{% for item in items.getItems()  %}  
    {{ component('products::admin.products.view.item',{ item: item }) }}
{% endfor %}