{% if uuid is not empty %}
    {% set product = createModel('Products','products').findById(uuid) %}
{% endif %}
<div class="w-64 mr-2" id="main_image_content"> 
    {% if product.image.src is not empty %}               
        <img class="ui image bordered rounded" src="{{ url(product.image.src) }}?t={{ today() }}">  
        <div class="my-1">
            <button 
                class="ui icon mini basic button delete-image-button" 
                uuid="{{ product.uuid }}">
                <i class="icon trash orange"></i>
            </button>  
        </div>      
    {% else %}
        {{ component('icons~image',{ size: 'h-full w-full' },'svg') }}
    {% endif %}
</div>