{% if uuid is not empty %}
    {% set option = createModel('ProductOptionType','products').findById(uuid) %}
{% endif %}
{% component 'system:admin.panel' %}
    <table class="{{ theme.table.details }}">
        <tbody>
            <tr>
                <td class="{{ theme.table.field.label }}">{{ labels.uuid }}</td>
                <td>
                    {{ component('system:admin.view.id',{ model: option }) }}                 
                </td>
            </tr>  
            <tr>
                <td class="{{ theme.table.field.label }}">{{ labels.title }}</td>
                <td>{{ option.title }}</td>
            </tr>
            {% if option.description is not empty %}
            <tr>
                <td class="{{ theme.table.field.label }}">{{ labels.description }}</td>
                <td>{{ option.description }}</td>
            </tr>
            {% endif %}
            <tr>
                <td class="{{ theme.table.field.label }}">{{ labels.key }}</td>
                <td>{{ option.key }}</td>
            </tr>
        </tbody>
    </table>     
{% endcomponent %}