{% set options = createModel('ProductOptionsList','products') %}
{% set product_type = createModel('ProductType','products').findByColumn(uuid,['uuid','slug']) %}
{% set option_type = createModel('ProductOptionType','products') %}
{% set items = options.getItemsQuery(product_type.slug) %}  

<div class="mt-2">
    {% if items.count() == 0 %}
    <div class="ui message">
        {{ labels.empty }}
    </div>
    {% endif %}
    {% for item in items.get() %}
        {% set type = option_type.getByKey(item.key) %}
        <div class="mt-2 pb-4">
            <h4 class="ui header">
                {{ type.title }}
            </h4>
            <div class="ui ten column grid p-2">
                <div class="ten wide column">
                    {{ component('semantic~orm.options.type',{ type: type, class: 'mini' }) }}  
                </div>
            </div>                                                      
        </div>
    {% endfor %}
</div>