<div class="{{ theme.panel }}">   
    <button 
        mountTo="brand_details"
        component="products::admin.brands.add"
        title="{{ tooltip.create }}"
        class="{{ theme.buttons.green }} create-brand">
        {{ buttons.create }}
    </button>              
</div>

<div class="mt-4 {{ theme.panel }}">
    <table class="{{ theme.table.default }}">
        <thead>
            <tr>              
                <th class="w-32">{{ columns.action }}</th> 
                <th class="w-32">{{ columns.status }}</th>                    
                <th>{{ columns.title }}</th>                                   
                <th class="">{{ columns.user }}</th>                                                                             
            </tr>
        </thead>
        <tbody 
            id="brand_rows">
            {{ component('products::admin.brands.view.rows') }} 
        </tbody>
    </table> 
    <div class="mt-2 ml-2" id="paginator">       
        {{  component("system:admin.paginator",{ 
                id: 'product_brand_paginator',
                namespace: 'product-brands',
                rows_selector: 'brand_rows',
                component:"products::admin.brands.view.rows" 
            })  
        }}      
    </div>
</div>