{% set items = [ 
    { id: 'products_button', title: labels.products.content, component: 'products::admin.products', icon: 'grid layout', active: true },
    { id: 'type_button', title: labels.type.content, component: 'products::admin.type', icon: 'project diagram' },
    { id: 'import_button', title: labels.import.content, component: 'products::admin.import.menu', icon: 'file import' },
    { id: 'settings_button', title: labels.settings.content, component: 'products::admin.settings', icon: 'cogs' }
] %}

{{  component('components:tabs',{ 
        items: items,
        menu: { component: 'system:admin.extensions.menu.actions', extension: 'blog' },
        content: { component: 'products::admin.products' } 
    })
}}