{{  component('system:admin.tabs',{ 
        items: [ 
            { 
                title: labels.products.content, 
                component: 'products::admin.products.view', 
                svg_icon: 'icons~list', 
                active: true 
            },
            { 
                title: labels.type.content, 
                component: 'products::admin.type', 
                icon: 'icons~code' 
            },  
            { 
                title: labels.brands.content, 
                component: 'products::admin.brands', 
                icon: 'copyright outline' 
            },            
            { 
                title: labels.options.content, 
                component: 'products::admin.options', 
                icon: 'cogs' 
            }          
        ],
        menu: { 
            component: 'system:admin.extensions.menu.actions',
            extension: 'products' 
        },
        content: { 
            component: 'products::admin.products.view' 
        } 
    })
}}

{{  component('system:admin.modal.confirm',{
        id: 'confirm_delete'       
    }) 
}}