{{  component('semantic~tabs.vertical',{ 
        items: [ 
            { title: labels.view, component: 'products::admin.products.view', icon: 'list', active: true },
            { title: labels.add, component: 'products::admin.products.add', icon: 'plus' },
            { id: 'edit_product', title: labels.edit, component: 'products::admin.products.edit', icon: 'edit' },
            { id: 'stats_button', title: labels.stats, component: 'products::admin.products.stats', icon: 'chart outline bar' }      
        ], 
        menu: { id: 'products_menu' }, 
        item_class: 'product-tab-item',
        content: { 
            id: 'products_content',
            component: 'products::admin.products.view',
            params: params 
        } 
    })
}}