{% if uuid is not empty %}
    {% set product_type = createModel('ProductType','products').findById(uuid) %}
{% endif %}
{% component 'system:admin.panel' %}
    <table class="{{ theme.table.details }}">
        <tbody>
            <tr>
                <td class="{{ theme.table.field.label }}">{{ labels.uuid }}</td>
                <td>
                    {{ component('system:admin.view.id',{ model: product_type }) }}                    
                </td>
            </tr>
            <tr>
                <td class="{{ theme.table.field.label }}">{{ labels.status }}</td>
                <td>
                    {{ component('system:admin.status.label',{ status: product_type.status }) }}
                </td>
            </tr>    
            <tr>
                <td class="{{ theme.table.field.label }}">{{ labels.title }}</td>
                <td>{{ product_type.title }}</td>
            </tr>
            {% if product_type.description is not empty %}
            <tr>
                <td class="{{ theme.table.field.label }}">{{ labels.description }}</td>
                <td>{{ product_type.description }}</td>
            </tr>
            {% endif %}
            <tr>
                <td class="{{ theme.table.field.label }}">{{ labels.slug }}</td>
                <td>{{ product_type.slug }}</td>
            </tr>
        </tbody>
    </table>      
    <h4 class="font-bold my-4">
        {{ labels.options }}
    </h4>    
    {{  component('system:admin.properties.details',{ 
            properties: product_type.getOptionsType() 
        }) 
    }}
{% endcomponent %}