<div class="{{ theme.panel }}">
    <table class="{{ theme.table.default }}">
        <thead>
            <tr>              
                <th class="w-32">{{ columns.action }}</th>               
                <th>{{ columns.title }}</th>  
                <th>{{ columns.slug }}</th>                        
                <th class="">{{ columns.description }}</th>                   
                <th class="">{{ columns.prodcuts }}</th>                                                   
            </tr>
        </thead>
        <tbody 
            id="product_type_rows">
            {{ component('products::admin.type.view.rows') }} 
        </tbody>
    </table> 
    <div class="mt-2 ml-2" id="paginator">      
        {{  component("system:admin.paginator",{ 
                id: 'product_type_paginator',
                namespace: 'product-type',
                rows_selector: 'product_type_rows',
                component:"products::admin.type.view.rows" 
            })  
        }} 
    </div>
</div>