{% if uuid is not empty %}
    {% set brand = createModel('Brands','products').findById(uuid) %}
{% endif %}
{% component 'system:admin.panel' %}
    {{ component('system:admin.view.image',{ model: brand }) }} 
    <table class="{{ theme.table.details }}">
        <tbody>
            <tr>
                <td class="{{ theme.table.field.label }}">{{ labels.uuid }}</td>
                <td>
                    {{ component('system:admin.view.id',{ model: brand }) }}                    
                </td>
            </tr>
            <tr>
                <td class="{{ theme.table.field.label }}">{{ labels.date }}</td>
                <td>                   
                    {{ brand.date_created|dateFormat }}
                </td>
            </tr>
            <tr>
                <td class="{{ theme.table.field.label }}">{{ labels.status }}</td>
                <td>
                    {{ component('system:admin.status.label',{ status: brand.status }) }}
                </td>
            </tr>   
            <tr>
                <td class="{{ theme.table.field.label }}">{{ labels.icon }}</td>
                <td>{{ brand.icon }}</td>
            </tr> 
            <tr>
                <td class="{{ theme.table.field.label }}">{{ labels.title }}</td>
                <td>{{ brand.title }}</td>
            </tr>
            {% if brand.description is not empty %}
            <tr>
                <td class="{{ theme.table.field.label }}">{{ labels.description }}</td>
                <td>{{ brand.description }}</td>
            </tr>
            {% endif %}
            <tr>
                <td class="{{ theme.table.field.label }}">{{ labels.slug }}</td>
                <td>{{ brand.slug }}</td>
            </tr>
            <tr>
                <td class="{{ theme.table.field.label }}">{{ labels.products }}</td>
                <td>{{ brand.products.count() }}</td>
            </tr>
        </tbody>
    </table>      
    <h4 class="font-bold my-4">
        {{ labels.options }}
    </h4>    
    {{  component('system:admin.properties.details',{ 
            properties: brand.getOptionsType() 
        }) 
    }}
{% endcomponent %}