{% set product = createModel('Products','products').findById(uuid) %}
{% set price_options = product.type.getOptionsType('price') %}

{% if price_options|length == 0 %}
<div class="ui icon mini message">
    <i class="icon warning mini"></i>
    <div class="content">
        <h4>{{ messages.price }}</h4>       
    </div>   
</div>
{% else %}
    <form class="ui form" id="price_form">       
        <input type="hidden" value="{{ uuid }}" name="uuid">
        {% for price in price_options %}    
            {{  component('semantic~form.fields.price',{ 
                    label: price.type.title,
                    value: product.getPriceValue(price.key),
                    icon: product.getPrice(price.key).currency.icon,
                    name: 'prices[' ~ price.key ~ ']',
                    id: price.key
                }) 
            }}        
        {% endfor %}
        {{ component('semantic~form.footer') }}
    </form>
{% endif %}
