{% set product = createModel('Products','products').findById(uuid) %}
{% set price_options = product.type.getOptionsType('price') %}

{% if price_options|length == 0 %}
    {{ component('system:admin.alert.info',{ message: messages.price }) }}
{% else %}
    <form class="form" id="price_form">       
        <input type="hidden" value="{{ uuid }}" name="uuid">
        {% for price in price_options %}    
            {{  component('system:form.fields.price',{ 
                    label: price.type.title,
                    value: product.getPriceValue(price.key),
                    icon: product.getPrice(price.key).currency.icon,
                    name: 'prices[' ~ price.key ~ ']',
                    id: price.key
                }) 
            }}        
        {% endfor %}
        {{ component('system:form.footer') }}
    </form>
{% endif %}
