{% set show_deleted = searchValue('show_deleted','products') %}
{% set type_id = searchValue('type_id','products') %}
<div class="ui segment">
    <div class="ui stackable grid">
        <div class="two wide column">
            {{  component('products::admin.type.dropdown',{ 
                    class: 'fluid basic button',
                    icon: 'filter',
                    selected: type_id, 
                    show_all: true,
                    data_column: 'id'                       
                }) 
            }}
        </div>
        <div class="two wide column">
            <div class="ui toggle checkbox show-deleted p-2">
                <input type="checkbox" name="show_deleted" {{ (show_deleted == 'true') ? 'checked': '' }}>
                <label>{{ labels.deleted }}</label>
            </div>
        </div>
        <div class="six wide centered column">                 
            {{ component("semantic~search.form",{ namespace: 'products' }) }}                    
        </div>
        <div class="four wide column">
        </div>
        <div class="one wide column" id="products_total">
            <div class="p-2">
                {{ component('products::admin.products.total',{ type_id: type_id, class: 'olive mini horizontal' }) }}
            </div>           
        </div>
        <div class="one wide column">
            {{ component('semantic~paginator.dropdown',{ namespace: 'products' }) }}
        </div>
    </div>
</div>
<div class="flex flex-row items-start">
    <div class="w-3/4 flex-grow">
        <table class="ui compact stackable selectable borderless basic table">
            <thead class="table-head">
                <tr>              
                    <th class="two wide collapsing left aligned">{{ columns.action }}</th>
                    <th class="two wide">{{ columns.created }}</th>
                    <th class="collapsing one wide">{{ columns.status }}</th>
                    <th class="one wide">{{ columns.type }}</th>  
                    <th class="five wide">{{ columns.title }}</th>    
                    <th class="four wide">{{ columns.category }}</th>                             
                    <th class="two wide">{{ columns.price }}</th>                                      
                </tr>
            </thead>
            <tbody id="product_rows" component="products::admin.products.view.rows" namespace="products">
                {{ component('products::admin.products.view.rows') }} 
            </tbody>
        </table> 
        <div id="paginator">      
            {{ component("semantic~paginator",{ namespace: 'products' }) }}
        </div>
    </div>
    <div class="w-1/4 hidden" id="product_details">
    </div>
</div>