{% set name = name|default('product') %}
{% set size = size|default(15) %}
{% set data_field = data_field|default('uuid') %}
{% set model = createModel('Products','products') %}
{% if user_id is not empty %}
{% set model = model.userQuery(user_id) %}
{% endif %}
{% set items = model.orderBy('position').take(size).get() %}
{% if selected is not empty %}
    {% set selected = model.findById(selected) %}
{% endif %}
{% set selected_text = (selected is empty) ? labels.select : selected.title %}
<div 
    class="ui search selection dropdown product-dropdown {{ class }}" 
    id="{{ component_id }}" 
    selected="{{ selected[data_field] }}"
    data-field="{{ data_field }}">
    <input 
        name="{{ name }}" 
        type="hidden" 
        value="{{ selected[data_field] }}" 
        id="{{ id|default(name) }}">
    <i class="dropdown icon"></i>
    <div class="default text">
        {{ selected_text }}
    </div>
    <div class="menu">
        <div class="item" data-value="">
            {{ labels.select }}
        </div>
        {% for item in items %}
        <div class="item" data-value="{{ selected[data_field] }}">
            {{ item.title }}
        </div>
        {% endfor %}
    </div>
</div>