{% if user_id is empty %}
    {% set user_id = service('access').getId() %}
{% endif %}
{% set data_field = data_field|default('id') %}

{{  component('system:form.fields.select',{
        id: id|default('product-dropdown'),
        name: field_name|default('product'),
        rule: rule,
        class: class,
        size: size,
        button_class: button_class,
        apiUrl: DOMAIN ~ BASE_PATH ~ '/api/products/product/list/dropdown/' ~ data_field ~ '/' ~ user_id ~ '/',
        clear_button: true,                     
        selected: selected,
        placeholder: labels.select
    }) 
}} 
