{% set id = id|default(name) %}
{% set model = createModel('ProductType','products') %}
{% set data_column = data_column|default('id') %}
{% if selected is not empty %}
    {% set selected = model.findById(selected) %}
{% endif %}
{% if hide_readonly == true %}
    {% set model = model.editable() %}
{% endif %}

<select 
    name="{{ name|default('product_type') }}"
    {{ id|attr('id') }}
    {{ rule|attr('rule') }}
    class="{{ theme.form.select }} product-type {{ class }} {{ size }}" 
    {{ title|attr('title') }} 
    {{ attributes|attr }}>
   
    {% if show_all == true %}
        <option 
            {{ (selected[data_column] is empty) ? 'selected' : '' }}
            value="">                    
            {{ labels.all }}            
        </option>  
    {% endif %}

    {% for item in model.get() %}
        <option 
            {{ (selected[data_column] == item[data_column]) ? 'selected' : '' }}
            value="{{ item[data_column] }}">                    
            {{ item.title }}            
        </option>   
    {% endfor %}         
</select>