{% if uuid is not empty %}
    {% set product = createModel('Products','products').findById(uuid) %}
{% endif %}
<form  
    class="ui form fluid" id="product_form">  
    <input type="hidden" name="uuid" id="uuid" value="{{ uuid }}">        
    <div class="field">
        <label>{{ fields.title.label }}</label>
        <input 
            rule="minLength[2]"
            type="text" 
            name="title" 
            id="title" 
            {{ fields.title.placeholder|attr('placeholder') }} 
            value="{{ product.title }}"> 
    </div>       
    {{  component('semantic~form.fields.slug',{ 
            slug_source: 'title',
            label: fields.slug.label,
            show_url: false,
            field_class: 'basic large label' 
        }) 
    }}   
    <div class="two fields">
        {% if product is not empty %}
        <div class="field">
            <label>{{ fields.category.label }}</label>
            {{  component('system:admin.orm.relations.fields.dropdown',{ 
                    model: 'CategoryRelations',
                    extension: 'category',
                    type: 'product',
                    relation_id: product.id,
                    items: createModel('Category','category').getList(null),
                    class: 'fluid'
                }) 
            }}   
        </div>
        {% endif %}
      
    </div>
    <div class="field fluid">
        <label>{{ fields.type.label }}</label>
        {{  component('products::admin.type.dropdown',{ 
                selected: product.type_id, 
                rule: 'empty',
                class: 'basic button fluid' 
            }) 
        }}
    </div>    
    {{ component('semantic~form.footer') }}
</form>