{% if uuid is not empty %}
    {% set product = createModel('Products','products').findById(uuid) %}
{% endif %}
<form  
    class="form" id="product_form">  
    <input type="hidden" name="uuid" id="uuid" value="{{ uuid }}">        
    <div class="{{ theme.form.field }}">
        <label class="{{ theme.form.label }}">
            {{ fields.title.label }}
        </label>
        <input 
            class="{{ theme.form.input }}"
            rule="minLength[2]"
            type="text" 
            name="title" 
            id="title" 
            {{ fields.title.placeholder|attr('placeholder') }} 
            value="{{ product.title }}"> 
    </div>       
    {{  component('system:form.fields.slug',{ 
            slug_source: 'title',
            label: fields.slug.label,
            show_url: false           
        }) 
    }}   
    <div class="{{ theme.form.fields }}">
        <div class="{{ theme.form.field }}">
            <label class="{{ theme.form.label }}">
                {{ fields.brand.label }}
            </label>
            {{  component('products::admin.brands.dropdown',{ 
                    selected: product.brand_id,
                    class: ''                   
                }) 
            }}   
        </div>
        {% if product is not empty %}
            <div class="{{ theme.form.field }}">
                <label class="{{ theme.form.label }}">
                    {{ fields.category.label }}
                </label>
                {{  component('system:admin.orm.relations.fields.dropdown',{ 
                        model: 'CategoryRelations',
                        extension: 'category',
                        type: 'product',
                        relation_id: product.id,
                        items: createModel('Category','category').getList(null),
                        class: 'fluid'
                    }) 
                }}   
            </div>
        {% endif %}
    </div>
    <div class="w-1/3 {{ theme.form.field }}">
        <label class="{{ theme.form.label }}">
            {{ fields.type.label }}
        </label>
        {{  component('products::admin.type.dropdown',{ 
                selected: product.type_id, 
                rule: 'empty',              
            }) 
        }}
    </div>    
    {{ component('system:form.footer') }}
</form>