{% if uuid is not empty %}
    {% set item = createModel('Products','products').findById(uuid) %}
{% endif %}
<tr id="row_{{ item.uuid }}">              
    <td>              
        {% if item.isDeleted() == false %} 
            <button 
                class="ui icon mini compact basic button edit-button" 
                uuid="{{ item.uuid }}">
                <i class="icon edit"></i>
            </button>            
            <button 
                class="ui icon mini compact basic button delete-button" 
                uuid="{{ item.uuid }}" 
                data-title="{{ item.title }}">
                <i class="icon trash orange"></i>
            </button>                       
        {% else %}
            <button 
                class="ui icon mini compact basic button restore-button" 
                uuid="{{ item.uuid }}" 
                title="{{ labels.resotre }}">
                <i class="trash restore olive icon"></i>
            </button>    
        {% endif %} 
        <button 
            class="ui icon mini basic compact button product-details" 
            uuid="{{ item.uuid }}">
            <i class="icon info blue"></i>
        </button>  
        <button 
            title="{{ labels.export }}"
            mountTo="product_details"
            component="content::admin.export"
            params="uuid:{{ item.uuid }},model_class:Products,schema_class:Products,extension:products"
            class="ui icon mini basic compact button product-action">
            <i class="icon file export blue"></i>
        </button>  
    </td>
    <td>
        {% if item.hasImage() == true %}
            <img       
                class="ui mini image bordered rounded" 
                src="{{ url(item.image.thumbnail(64,64).src) }}?t={{ today() }}">             
        {% else %}
            <i class="image bordered outline icon large grey"></i>
        {% endif %}
    </td>  
    <td>{{ item.date_created|dateFormat }}</td>  
    <td>
        {{  component('system:admin.status.dropdown',{ 
                status: item.status, 
                uuid: item.uuid, 
                skip: [2,3,4,5,6] }) 
        }}
    </td>
    <td>
       {{ item.type.title }}       
    </td>
    <td>{{ item.title }}</td>         
    <td>
        {% for category in item.categories %}
        <div class="badge badge-sm badge-outline">
            {{ category.getTitle()|string }}
        </div>            
        {% endfor %}
    </td>                  
    <td>
        <div class="badge badge-sm badge-outline">
            {{ item.getPrice('price').currency.sign }}
            {{ item.getPrice('price').price|default(0)|numberFormat }}
        </div>    
    </td>
    <td>
        {{ item.user.user_name_or_email }}
    </td>                        
</tr>