{% if uuid is not empty %}
    {% set item = createModel('Products','products').findById(uuid) %}
{% endif %}
<tr id="row_{{ item.uuid }}">              
    <td>              
        {% if item.isDeleted() == false %} 
            <button 
                mountTo="product_details"
                component="products::admin.products.edit"
                class="{{ theme.buttons.icon }} product-action" 
                params="uuid:{{ item.uuid }}">
                {{ component('icons~edit',theme.icons.menu,'svg') }} 
            </button>            
            <button 
                class="{{ theme.buttons.icon }} delete-button" 
                uuid="{{ item.uuid }}" 
                data-title="{{ item.title }}">
                {{ component('icons~trash',theme.icons.delete,'svg') }} 
            </button>                       
        {% else %}
            <button 
                class="{{ theme.buttons.icon }} restore-button" 
                uuid="{{ item.uuid }}" 
                title="{{ labels.resotre }}">
                {{ component('icons~trash',theme.icons.menu,'svg') }} 
            </button>    
        {% endif %} 
        <button 
            mountTo="product_details"
            component="products::admin.products.details"
            class="{{ theme.buttons.icon }} product-action" 
            params="uuid:{{ item.uuid }}">
            {{ component('icons~info',theme.icons.menu,'svg') }} 
        </button>  
        <button 
            title="{{ labels.export }}"
            mountTo="product_details"
            component="content::admin.export"
            params="uuid:{{ item.uuid }},model_class:Products,schema_class:Products,extension:products"
            class="{{ theme.buttons.icon }} product-action">
            {{ component('icons~document',theme.icons.menu,'svg') }} 
        </button>  
    </td>
    <td>
        {% if item.hasImage() == true %}
            <img       
                class="h-20 w-20 rounded" 
                src="{{ url(item.image.thumbnail(64,64).src) }}?t={{ today() }}">             
        {% else %}
            {{ component('icons~image',{ size: 'h-20 w-20' },'svg') }} 
        {% endif %}
    </td>  
    <td>{{ item.date_created|dateFormat }}</td>  
    <td>
        {{  component('system:admin.status.dropdown',{ 
                status: item.status, 
                uuid: item.uuid, 
                skip: [2,3,4,5,6] }) 
        }}
    </td>
    <td>
       {{ item.type.title }}       
    </td>
    <td>{{ item.title }}</td>         
    <td>
        {% for category in item.categories %}
        <div class="badge badge-sm badge-outline">
            {{ category.getTitle()|string }}
        </div>            
        {% endfor %}
    </td>                  
    <td>
        <div class="badge badge-sm badge-outline">
            {{ item.getPrice('price').currency.sign }}
            {{ item.getPrice('price').price|default(0)|numberFormat }}
        </div>    
    </td>
    <td>
        {{ item.user.user_name_or_email }}
    </td>                        
</tr>