{% if uuid is not empty %}
    {% set product = createModel('Products','products').findById(uuid) %}
{% endif %}
{% component 'system:admin.panel' %}
    {{ component('system:admin.view.image',{ model: product }) }} 
    <table class="{{ theme.table.default }}">
        <tbody>
            <tr>
                <td class="{{ theme.table.field.label }}">{{ labels.uuid }}</td>
                <td>
                    {{ component('system:admin.view.id',{ model: product }) }}                     
                </td>
            </tr>
            <tr>
                <td class="{{ theme.table.field.label }}">{{ labels.status }}</td>
                <td>
                    {{ component('system:admin.status.label',{ status: product.status }) }}
                </td>
            </tr>    
            <tr>
                <td class="{{ theme.table.field.label }}">{{ labels.title }}</td>
                <td>{{ product.title }}</td>
            </tr>
            {% if product.description is not empty %}
            <tr>
                <td class="{{ theme.table.field.label }}">{{ labels.description }}</td>
                <td>{{ product.description }}</td>
            </tr>
            {% endif %}
            {% if product.description_summary is not empty %}
            <tr>
                <td class="{{ theme.table.field.label }}">{{ labels.summary }}</td>
                <td>{{ product.description_summary }}</td>
            </tr>
            {% endif %}
            <tr>
                <td class="{{ theme.table.field.label }}">{{ labels.brand }}</td>
                <td>{{ product.brand.title }}</td>
            </tr>
            <tr>
                <td class="{{ theme.table.field.label }}">{{ labels.price }}</td>
                <td>
                    <div class="badge badge-sm badge-outline">
                        <span>
                            {{ product.getPrice('price').currency.sign }}
                        </span>
                        <span>
                            {{ product.getPrice('price').price|default(0)|numberFormat }}
                        </span>                     
                    </div>        
                </td>
            </tr>
            <tr>
                <td class="{{ theme.table.field.label }}">{{ labels.slug }}</td>
                <td>{{ product.slug }}</td>
            </tr>
            <tr>
                <td class="{{ theme.table.field.label }}">{{ labels.type }}</td>
                <td>
                    {{ product.type.title }}
                    <div class="badge badge-sm badge-outline">
                        {{ product.type.slug }}
                    </div>
                </td>
            </tr>
            <tr>
                <td class="{{ theme.table.field.label }}">{{ labels.user }}</td>
                <td>{{ product.user.username_or_email }}</td>
            </tr>
            <tr>
                <td class="{{ theme.table.field.label }}">{{ labels.date }}</td>
                <td>{{ product.date_created|dateTimeFormat }}</td>
            </tr>
            <tr>
                <td class="{{ theme.table.field.label }}">{{ labels.updated }}</td>
                <td>
                    {{ product.date_updated|dateFormat }}
                </td>
            </tr>   
        </tbody>
    </table>   
    {{  component('system:admin.options',{
            class: 'mt-4',
            options: product.options_list.toArray() 
        }) 
    }}      
    {{  component('system:admin.view.metatags',{ 
            class: 'mt-4',
            model: product 
        }) 
    }}    
{% endcomponent %}